__pycache__
logs/
.idea
*.swp
*.swo
*.swn
*.gz
*.pyc
*.p
*.ipynb_checkpoints*
modules/unsupervised/dump_*/

unsupervised/dump_*/

dynamics/archive/test/
dynamics/archive/data/
dynamics/archive/dump_*/
data/
data_old/

sandbox/

experiments/01/dump/
experiments/02/dump/
experiments/03/dump/

experiments/101/dump/
experiments/102/dump/
experiments/103/dump/
